.eric6project/
.ropeproject/
.directory/
*.pyc
*.pyo
*.orig
*.bak
*.rej
*~
cur/
tmp/
__pycache__/
*.DS_Store
*.e4p

venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/
